body {
  background-color: #BBBBBB;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container .item {
  width: 100%;
  height: 100%;
  margin: 10px
}

.container .input-panel {
  background-color: blue;
}

.container .output-panel {
  background-color: red;
}